<div class="container">

    <h1 class="jumbotron myJumbotron text-center">{{fotoHome.title}}</h1>
    <div>
      <button type="button" class="btn btn-default btn-lg" ng-click="fotoHome.showForm()">Join Contest</button>
      <br>
      <br>
    </div>

    <nav class='tabs'>
        <a ui-sref-active="active" ui-sref="home">Home</a>
        <a ng-show="fotoHome.loggedIn" ui-sref-active="active" ui-sref="userProfile">My Info</a>
        <a ui-sref-active="active" ui-sref="fotoBrowser">Gallery</a>
        <a ui-sref-active="active" ui-sref="fotoLogin">Login/Logout</a>
      <br>
    </nav>
    
    <div class="newUserForm myColorTheme" ng-show="fotoHome.showNewUserForm">
      <hr>
      <form>
        <div class="form-group ">
          <label>User Name</label>
          <input type="text" class="form-control" ng-model="fotoHome.newUserName" placeholder="User name">
        </div>
        <div class="form-group ">
          <label>Password</label>
          <input type="password" class="form-control" ng-model="fotoHome.newUserPassword" placeholder="Password">
        </div>
        <div class="form-group ">
          <label>Email</label>
          <input type="email" class="form-control" ng-model="fotoHome.newUserEmail" placeholder="Email">
        </div>
        <div class="form-group ">
          <label>Phone Number</label>
          <input type="tel" class="form-control" ng-model="fotoHome.newUserPhone" placeholder="Phone">
        </div>
        <button type="submit" class="btn btn-default " ng-click="fotoHome.createNewUser()">Submit</button>
        <button type="submit" class="btn btn-default " ng-click="fotoHome.cancelNewUser()">Cancel</button>
      </form>
      <br>
    </div>
    
    <div class="row">
      <hr>
      <h1 class="text-center">Current Top Fotos</h1>
      <div style="height: 400px">
        <uib-carousel active="active" interval="fotoHome.carouselInterval" no-wrap="noWrapSlides">
              <!-- <uib-slide ng-repeat="slide in fotoHome.carousel.fotos track by slide.id" index="slide.id"> -->
              <uib-slide ng-repeat="slide in fotoHome.carousel.fotos track by $index" index="$index">
                <img class="img-responsive" ng-src={{slide.imgPath}} height=200px weight=200px style="margin:auto;">
                <div class="carousel-caption">
                  <h4>Slide {{$index+1}}</h4>
                  <p>voteCount = {{slide.voteCount}}</p>
                </div>
              </uib-slide>
        </uib-carousel>
      </div>
        
    </div>

</div>