<div class="container">

    <h1 class="jumbotron text-center">{{fotoLogin.title}}</h1>

    <nav class='tabs'>
        <a ui-sref-active="active" ui-sref="home">Home</a>
        <a ng-show="fotoLogin.loggedIn" ui-sref-active="active" ui-sref="userProfile">User Profile</a>
        <a ui-sref-active="active" ui-sref="fotoBrowser">Browse Fotos</a>
        <a ui-sref-active="active" ui-sref="fotoLogin">Login/Logout</a>
    </nav>
    
    <br>
    <select ng-hide="fotoLogin.loggedIn" ng-model="fotoLogin.currentUserName" ng-change="fotoLogin.setCurrentUser()">
        <option selected>Select user</option>
        <option ng-repeat="user in fotoLogin.fotoUsersList" value="{{user.user}}">{{user.user}}</option>
<!--        <option value="bikenut">bikenut</option>
        <option value="john">john</option>
        <option value="kelsey">kelsey</option>
-->
    </select>
    <button ng-show="fotoLogin.loggedIn" type="button" class="btn btn-primary" ng-click="fotoLogin.logout()">Logout</button>
    <div class="row">

    </div>


</div>