<div class="container">

    <h1 class="jumbotron text-center">{{fotoUser.title}}</h1>

    <nav class='tabs'>
        <a ui-sref-active="active" ui-sref="home">Home</a>
        <a ng-show="fotoUser.loggedIn" ui-sref-active="active" ui-sref="userProfile">User Profile</a>
        <a ui-sref-active="active" ui-sref="fotoBrowser">Browse Fotos</a>
        <a ui-sref-active="active" ui-sref="fotoLogin">Login/Logout</a>
    </nav>
    
    <div class="row">
        <h4>Current User = {{fotoUser.currentUser.user}}</h4>

        <div class="col-xs-6" ng-repeat="foto in fotoUser.fotoUsersList[fotoUser.currentUser.user].fotos">
                <!-- <img ng-src={{foto.imgPath}} height=300 weight=300> -->
            <img class="img-responsive" ng-src={{foto.imgPath}} height=200 weight=200>
            <p>Current vote count = {{foto.voteCount}}</p>
        </div>


    </div>

</div>