.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    background-image: url(../images/iron_texture65.jpg);
    ;
}

.myColorTheme {
    color:#EEEEEE;
}

.mapModal {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 400px;
  position: fixed;
  /* background: rgba(0, 0, 0, .6); */
  background:#EEEEEE;
  color: black;
  overflow: scroll;
  font-size: 16px;
  border-radius: 8px;
  z-index:1;
}

.contestInfo {
    float: right;
}

#contestForm {
    padding: 0;
    list-style-position: inside;
}

.jumbotron {
    font-size:84px;
    font-family: fantasy, cursive, serif;
}

.btn-default {
    background:#EEEEEE;
}

.form-group {
    background:#EEEEEE;
    border-radius:6px;
    color:black;
    padding:3px;
}

.fotoInfo {
    background:#EEEEEE;
    border-radius:6px;
    color:black;
    /* max-width:75%; */
}
/* nav styling */
nav.tabs {
    background: #EEEEEE;
    max-width: 45%;
    margin: 0 auto;
    border-radius:6px;
}
nav.tabs a {
    display: inline-block;
    /* background: rgba(238,238,238,0.7); */
    color: black;
    padding: 10px 20px;
    margin-right: 1px;
    border-radius:6px;
}

nav.tabs active { 
    background: #A0A0A0;
}

/* from panels snippet */
/*@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");*/

.panel {
    /* display: inline-block; */
    float:left;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    /* border: 10px solid transparent; */
    /*margin:3px;*/
}

.panel-footer {
    background:#EEEEEE;
}

.panel-image img {
    height: 360px;
    object-fit: cover;
}

.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
	overflow: hidden;
}
.panel-image ~ .panel-footer a {
	padding: 0px 10px;
	font-size: 1.3em;
	/* color: rgb(100, 100, 100); */
	/* background:#EEEEEE; */
}

.panel-image.hide-panel-body ~ .panel-body {
	height: 0px;
	padding: 0px;
}
