<div class="container">

    <div class="row">
        <!--<div class="col-xs-4 form-group">-->
        <!--    <h5 class="text-center">Sorting Options</h5>-->
        <!--    <div class="text-center">-->
        <!--        <label class="radio-inline">-->
        <!--            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" ng-click="fotoBrowser.setOrderBy('user',false)"> UserName (default)-->
        <!--        </label>-->
        <!--        <label class="radio-inline">-->
        <!--            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" ng-click="fotoBrowser.setOrderBy('voteCount',true)"> VoteCount (highest first)-->
        <!--        </label>-->
        <!--        <label class="radio-inline">-->
        <!--            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" ng-click="fotoBrowser.setOrderBy('timestamp',true)"> NewestFotosFirst-->
        <!--        </label>-->
        <!--    </div>-->
        <!--</div>-->
        <div class="form-group col-sm-3 ">
            <label>Sort Fotos By</label>
            <select ng-model="fotoBrowser.currentSort" ng-change="fotoBrowser.setCurrentSort()">
              <option selected>Select sort method</option>
              <option ng-repeat="sort in fotoBrowser.fotoFactory.sortOptions" value="{{sort}}">{{sort}}</option>
            </select>
        </div>
        <!--<div class="col-xs-4 form-group col-sm-offset-1 ">-->
        <!--    <h5 class="text-center">Choose Contest Theme</h5>-->
        <!--    <h5 class="text-center">Current theme: {{fotoBrowser.currentTheme}}</h5>-->
        <!--    <div class="text-center" ng-repeat="theme in fotoBrowser.fotoFactory.themes">-->
        <!--        <label class="radio-inline">-->
        <!--            <input type="radio" name="inlineRadioOptions" id="inlineRadio{{$index}}" value="option{{$index}}" ng-click="fotoBrowser.setContestTheme(theme)"> {{theme}}-->
        <!--        </label>-->
        <!--    </div>-->
        <!--</div>-->
        <div class="form-group col-sm-4 col-sm-offset-2">
            <label>Choose Foto Theme</label>
            <select ng-model="fotoBrowser.currentTheme" ng-change="fotoBrowser.setContestTheme()">
              <option selected>Select contest theme</option>
              <option ng-repeat="theme in fotoBrowser.fotoFactory.themes" value="{{theme}}">{{theme}}</option>
            </select>
        </div>
        <!--<div class="col-xs-2 col-sm-offset-1">-->
        <div>
            <!--<h5>Current Location</h5>-->
            <!--<p>lat={{fotoBrowser.latitude}}</p>-->
            <!--<p>long={{fotoBrowser.longitude}}</p>-->
            <button type="button" class="btn btn-default rightFloat" ng-click="fotoBrowser.showMap('current')">Show Fotos near me</button>
        </div>
    </div>
    
    <div class="mapModal" 
        ng-if='fotoBrowser.showUserMap'>
        <div>
            <button class="btn btn-primary btn-sm fixedButton" ng-click='fotoBrowser.closeMap()'>Close</button>
        </div>
        <div>
            <ng-map id="map" center="{{fotoBrowser.mapCenter}}" zoom="{{fotoBrowser.zoom}}" map-type-id="hybrid" default-style="false">
                <marker ng-repeat="foto in fotoBrowser.fotoGallery" track-by="$index" 
                    position="{{ [foto.point.coordinates[1], foto.point.coordinates[0] ]}}"
                    on-click="fotoBrowser.bigFoto(foto)">
                </marker>
            </ng-map>
           <!--<li ng-repeat="foto in fotoBrowser.fotoGallery">-->
           <!--    position={{foto.point.coordinates[1]}}, {{foto.point.coordinates[0]}}-->
           <!--</li>-->
<!--            <p>lat={{fotoBrowser.latitude}}</p>
            <p>long={{fotoBrowser.longitude}}</p>
-->
        </div>
    </div>
    
    <div class="fotoModal" 
        ng-if='fotoBrowser.showBigFoto'>
        <div>
            <button class="btn btn-primary btn-sm fixedButton" ng-click='fotoBrowser.closeBigFoto()'>Close</button>
        </div>
        <div>
            <strong>
                <p class="text-center">Near {{fotoBrowser.currentBigFoto.locationString}},  {{fotoBrowser.currentBigFoto.caption}}</p>
            </strong>
            <img class="img-responsive bigFoto" ng-src={{fotoBrowser.currentBigFoto.imgPath}}>
        </div>
    </div>
    
    <div class="row">
        <hr>
    
        <div class="col-sm-6 panel panel-default" ng-repeat="foto in fotoBrowser.fotoGallery  | orderBy:fotoBrowser.sortField:fotoBrowser.reverseOrdering ">
            <div class="panel-image hide-panel-body">
                <a ng-click="fotoBrowser.bigFoto($event,foto)">
                    <img class="panel-image-preview img-responsive" ng-src={{foto.imgPath}}>
                </a>
                <!--<a href="{{foto.imgPath}}" target="fotoReview">-->
                <!--    <img class="panel-image-preview img-responsive" ng-click="fotoBrowser.bigFoto(foto)" ng-src={{foto.imgPath}}>-->
                <!--</a>-->
            </div>
            <div class="panel-body"></div>
            <div class="panel-footer text-center">
                <strong>
                    <p class="fotoInfo text-center">{{foto.user.username}},   Votes = {{foto.voteCount}}</p>
                    <p class="fotoInfo text-center">{{foto.caption}}</p>
                </strong>
                <p ng-show="fotoBrowser.showVoteButton(foto)" button type="button" class="btn btn-default btn-sm" ng-click="fotoBrowser.newVote(foto)">Vote</p>
                <p ng-show="fotoBrowser.showCancelVoteButton(foto)" button type="button" class="btn btn-default btn-sm" ng-click="fotoBrowser.cancelVote(foto)">Cancel my vote</p>
                <p button type="button" class="btn btn-default btn-sm" ng-click="fotoBrowser.showMap(foto)">Map this Foto</p>
            </div>
        </div>
        
    </div>
    
</div>