<div class="container">

    <div class="row">
      <button type="button" class="btn btn-default col-sm-2" ng-click="fotoHome.showForm()">Join Contest</button>
      <!--<div class="form-group col-sm-4 col-sm-offset-2">-->
      <!--  <h5 class="text-center">Choose Contest Theme</h5>-->
      <!--  <h5 class="text-center">Current theme: {{fotoHome.currentTheme}}</h5>-->
      <!--  <div class="text-center" ng-repeat="theme in fotoHome.fotoFactory.themes">-->
      <!--    <label class="radio-inline">-->
      <!--        <input type="radio" name="inlineRadioOptions" id="inlineRadio{{$index}}" value="option{{$index}}" ng-click="fotoHome.setContestTheme(theme)"> {{theme}}-->
      <!--    </label>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="form-group col-sm-4 col-sm-offset-2">
        <label>Choose Foto Theme</label>
        <select ng-model="fotoHome.currentTheme" ng-change="fotoHome.setContestTheme()">
          <option selected>Select contest theme</option>
          <option ng-repeat="theme in fotoHome.fotoFactory.themes" value="{{theme}}">{{theme}}</option>
        </select>
      </div>
      <button type="button" class="btn btn-default rightFloat" ng-click="fotoHome.showInfoForm()">Contest Info</button>
    </div>
    
    <div class="newUserForm myColorTheme" ng-show="fotoHome.showContestInfoForm">
      <hr>
      <form class="myTextBox">
        <h4 class="text-center">Contest Rules and Info</h4>
        <ol id="contestForm">
          <li>Peer judged foto contest.</li>
          <li>Users must join contest to be able to participate beyond viewing fotos.</li>
          <li>The top three vote count fotos for the currently selected theme are highlighted on the home page.</li>
          <li>One vote per foto per user.</li>
          <li>Users can not vote for their own fotos.</li>
          <li>Users may add or delete their own fotos at any time.</li>
          <li>If there is a tie vote count in the currently selected theme for a foto to be highlighted on the home page the foto chosen is arbitrary.</li>
        </ol>
        
        <button type="submit" class="btn btn-default " ng-click="fotoHome.closeInfoForm()">Close</button>
      </form>
    </div>
    
    <div class="row">
      <hr>
      <!-- <h3 class="text-center">Current Top Fotos</h3> -->
      <div style="height: 400px">
        <uib-carousel active="active" interval="fotoHome.carouselInterval" no-wrap="noWrapSlides">
              <!-- <uib-slide ng-repeat="slide in fotoHome.carousel.fotos track by slide.id" index="slide.id"> -->
<!--
              <uib-slide ng-repeat="slide in fotoHome.carousel.fotos track by $index" index="$index">
                <img class="img-responsive" ng-src={{slide.imgPath}} height=200px weight=200px style="margin:auto;">
                <div class="carousel-caption">
                  <h4>Slide {{$index+1}}</h4>
                  <p>voteCount = {{slide.voteCount}}</p>
                </div>
              </uib-slide>
-->
        <uib-slide class="panel-carousel panel-default" ng-repeat="slide in fotoHome.fotoCarousel.fotos track by $index" index="$index" >
            <div class="carousel-panel-image hide-panel-body">
                <img class="panel-image-preview img-responsive" ng-src={{slide.imgPath}} style="margin:auto;">
            </div>
            <div class="panel-body"></div>
            <div class="carousel-caption">
              <!--<h4>Slide {{$index+1}}</h4>-->
              <h4>{{slide.caption}}</h4>
              <p>voteCount = {{slide.voteCount}}</p>
            </div>
        </uib-slide>
        </uib-carousel>
      </div>
        
    </div>

</div>