<div class="container">

    <br>
    <label class="myColorTheme" ng-hide="fotoLogin.userFactory.loggedIn">Set User</label>
    <select ng-hide="fotoLogin.userFactory.loggedIn" ng-model="fotoLogin.userFactory.selectedUser" ng-change="fotoLogin.setCurrentUser()">
        <option selected>Select user</option>
        <option ng-repeat="user in fotoLogin.userFactory.fotoUsers" value="{{user.username}}">{{user.username}}</option>
    </select>
    <button ng-hide="fotoLogin.userFactory.loggedIn" type="button" class="btn btn-default" ng-click="fotoLogin.signUp()">Sign Up</button>
    <br>
    <hr>
    <button ng-show="fotoLogin.userFactory.loggedIn" type="button" class="btn btn-default" ng-click="fotoLogin.logout()">Logout</button>
    
    <div class="row newUserForm myColorTheme" ng-show="fotoLogin.userFactory.showNewUserForm">
      <hr>
      <form ng-submit="fotoLogin.createNewUser()">
        <div class="form-group ">
          <label> User Name</label>
          <input type="text" class="form-control" ng-model="fotoLogin.newUser.username" placeholder="User name">
        </div>
        <div class="form-group ">
          <label> Password</label>
          <input type="password" class="form-control" ng-model="fotoLogin.newUser.password" placeholder="Password">
        </div>
        <div class="form-group ">
          <label> Email</label>
          <input type="email" class="form-control" ng-model="fotoLogin.newUser.email" placeholder="Email">
        </div>
        <div class="form-group ">
          <label> Phone Number</label>
          <input type="tel" class="form-control" ng-model="fotoLogin.newUser.phone" placeholder="Phone">
        </div>
        <button type="submit" class="btn btn-default " >Sign Up</button>
        <button type="submit" class="btn btn-default " ng-click="fotoLogin.cancelNewUser($event)">Cancel</button>
      </form>
    </div>


</div>